*.log
*.sublime-project
*.sublime-workspace

*.pyc

fixed_mxmls_1/
fixed_mxmls_2/
cutting_tools/config.py
merge_and_validate/solve_print_object/config.py
merge_and_validate/solve_stem_ids/matching_id_files.json
merge_and_validate/solve_stem_ids/fixed_jsons/
merge_and_validate/solve_stem_ids/fixed_svgs/
.idea/
.jupyter/
test_data/
output_data/
